# Ignore a pasta node_modules
**/node_modules

# Ignore pastas relacionadaas ao IstanbulJS 
**/coverage
**/.nyc_output

# Ignore as pastas relacionadas ao database
**/database

#Ignore as pastas relaionadas ao reify, que faz a conversão do código ESModules para JS comum
**/.reify**